@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-500: #7367f0;
  --color-brand-600: #655bd3;
}

@layer base {
  body {
    background-color: #f8f7fa;
    color: #5d596c;
    letter-spacing: -0.01em;
    transition: background-color 0.2s, color 0.2s;
  }
}

.dark body {
  background-color: #1f2233;
  color: #b6bee3;
}

.font-data {
  font-size: 10px;
  line-height: 14px;
}